body, header, h1, p, nav, aside, section, ul, li, footer{
    margin: 0;
    padding: 0;
}

header{
	background: #099999;
}

header img{
	max-height: 20%;
	max-width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.sidebar{
	position: fixed;
	font-size: 170%;
	top: 0;
	left: -40%;
	background: #006666;
	width: 40%;
	height: 100%;
	transition: .3s;
}

.active{
	left: 0;
}

.sidebarBtn{
	position: absolute;
	top: 0;
	right: -70px;
	width: 70px;
	height: 70px;
	box-sizing: border-box;
	cursor: pointer;
	background: #006666;
	border: none;
	outline: none;
}

.sidebarBtn img{
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.user{
	position: absolute;
	bottom: 20px;
	margin-left: 10px;
	color: white;
}


@media screen and (min-width:768px){
	header img{
		max-height: 10%;
		max-width: 10%;
	}

	.sidebar > ul > li > a{
		transition: .3s;
	}

	.sidebar > ul > li > a:hover{
		font-size: 220%;
		transition: .3s;
	}
}