body, header, h1, p, nav, aside, section, ul, li, footer{
    margin: 0;
    padding: 0;
}

/* HEADER */

header{
	background: #088484;
	margin-bottom: 10px;	
}

header img{
	max-height: 20%;
	max-width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* FINE HEADER */

/* FOOTER */

footer
{
  background-color: #088484;;
  padding: 10px 0;
  line-height: 24px;
  color: #ffffff;
  text-align: center
}

footer > .line{
	width: 50%;
	margin: auto;
	border-top: 1px solid #a8a4a4;
	margin-top: 10px;
	margin-bottom: 10px;
}

.about-contatti, .ext-links {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0px 50px;
}

footer > .about-contatti > h3, footer > .ext-links > h3{
	color: #ffffff;
	font-size: 18px;
	margin-top: 5px;
	letter-spacing: 1px;
}

footer > .about-contatti > p, footer > .ext-links > p{
	color: #ffffff;
	font-size: 15px;
	letter-spacing: 1 px;
}

.linklist > li > a {
	color: #9db9f1;
	text-decoration: none;
}

.linklist > li{
	list-style: none;
}

.bottom-text
{
  margin: 0;
  text-align: center;
}

.gestori{
	margin-left: 25px;
	list-style: none;
	font-size: 19px;
}

.gestori > li > a > img{
	display: inline-block;
	max-height: 22px;
	max-width: 22px;
	margin-left: 10px;
	vertical-align: top;
}

/* FINE FOOTER */

/* MENU LATERALE */

.sidebar{
	position: fixed;
	font-size: 170%;
	top: 0;
	left: -50%;
	background: #006666;
	width: 50%;
	height: 100%;
	transition: .3s;
	white-space: normal;
}

.active{
	left: 0;
}

.sidebarBtn{
	position: absolute;
	top: 0;
	right: -70px;
	width: 70px;
	height: 70px;
	box-sizing: border-box;
	cursor: pointer;
	background: #006666;
	border: none;
	outline: none;
}

.sidebarBtn img{
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.user{
	position: absolute;
	bottom: 30px;
	width: 90%;
	margin-left: 10px;
	color: white;
	box-sizing: border-box;
	white-space: normal;
	overflow-x: scroll;
}

.user > h3{
	font-size: 80%;
}

.user > .nome{
	text-decoration: none;
	font-size: 190%;
	font-weight: bold;
	color: #ffffff;
	transition: .3s;
} 

.user > .nome:hover{
	font-size: 210%;
	transition: .3s;
	color: #b19cd9;
}

.user > a{
	color: #9db9f1;
	text-decoration: none;
	font-size: 130%;
	transition: .3s;
}

.user > a:hover{
	font-size: 150%;
	transition: .3s;
	color: #b19cd9;
}

/* FINE MENU LATERALE */

/* PRODOTTI */

.prodotto {
	display: inline-block;
	width: 85%;
	margin: 10px 25px;
	padding: 1%;
	border-style: solid;
}

.prodotto h3{
	height: 100px;	
}

.prodotto p{
	height: 55px;
}

.immagine_prodotto{		
	width: 225px;
	height: 225px;
	display: block;
	margin-left: auto;
	margin-right: auto;  
}

.prodotto .detailsBtn{			
	background: #006666;
	border: 3px solid #006666;
}

.insertBtn {		
	background: #006666;
	border: 3px solid #006666;
	display: block;
	margin-left: auto;
	margin-right: auto;  
}

/* FINE PRODOTTI */

/* MESSAGGI IN HOME */

.message h2{
	text-align: center;
	margin: auto;
	background-color: #136408;
	padding: 10px 0;
	color: #ffffff;
}

.errormessage h2{
	text-align: center;
	margin: auto;
	background-color: #8B0000;
	padding: 10px 0;
	color: #ffffff;
}

/* FINE MESSAGGI IN HOME */

/* REGISTRAZIONE E LOGIN*/
.register{
	background: #006666;
	margin: auto;
	width: 100%;	
	padding: 10px;
}

.register > label{
	font-size: 150%;
	font-weight: bold;	
}

.register .text-input{	
	width: 100%;	
}

form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
	margin-bottom: 15px;
	width: calc(100% / 2 - 20px);
}

.register .button{	
	width: 100%;	
	background: #088484;
	border: 3px solid #088484;	
}

.register a {
	color: #9db9f1;
	text-decoration: none;
}

.user-type {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.user-type .title{
	font-size: 120%;
	font-weight: bold;	
}

.user-type .name1{
	margin-right: 20px;
}

.user-type .name2{
	margin-left: 20px;
}

/* FINE REGISTRAZIONE E LOGIN*/

/* INIZIO DETTAGLIO PRODOTTO */

.details .img {
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.details .img img{
	max-width: 250px;
	max-height: 250px;
}

.details .main .title{
	font-size: 120%;
	font-weight: bold;
}

.details .side{	
	border-top: 2px solid black;
}

.details .disponibility{	
	font-weight: bold;
}

.details input{
	width: 15%;
}

.details .cartBtn{	
	width: 80%;	
	background: #006666;
	border: 3px solid #006666;
}

.details .seller{	
	font-size: 90%;
	
}
/* FINE DETTAGLIO PRODOTTO */

/* INIZIO CARRELLO */

.cart .empty{	
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}

.cart .prodotti{
	margin: auto;
  	width: 90%;	  
	height: 200px;
  	border: 3px solid black;	
	display: block;
	clear: left;
	overflow-y: scroll;
}

.cart .prodImg{	
	max-width: 50%;
	max-height: 50%;
	padding-bottom: 15px;
	float: left;
}

.cart .prodotti .quantity{
	max-width: 20%;
}

.cart .prodotti .aggiorna{
	float: right;
	background: #006666;
	border: 3px solid #006666;	
}

.cart .prodotti .remove{
	float: left;	
    width: 40px;
    height: 40px;    
	background: #fff;
	border: none;		
}

.cart .prodotti .removeImg{
	width: 40px;
    height: 40px;    
	
}

.cart .resoconto {
	margin: auto;
	width: 90%;  	
  	border: 3px solid black;	
	margin-top: 15%;
}

.cart .spaceUnder>td {
	padding-bottom: 1em;
  }

.cart table {
	width: 100%;
	
  }

.cart .totale {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.cart .price {	
	border-left: 1px solid black;
	padding-left: 1em;
	padding-right: 5px;	
	text-align: right;
}

.cart .quantity {	
	padding-left: 1em;
	padding-right: 5px;		
}

.cart .shopBtn{		
	width: 80%;	
	background: #006666;
	border: 3px solid #006666;
}


/* FINE CARRELLO */

.ordine{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;	
	border: 2px solid #000000;
	border-radius: 9px;
	transition: .4s;
}

@media screen and (min-width:768px){
	header img{
		max-height: 5%;
		max-width: 5%;
	}
	
	.user{
		overflow: hidden;
	}

	.message h2{
		width: 60%;
	}
	
	.errormessage h2{
		width: 60%;
	}

	.prodotto {
		width: 40%;					
	}	

	.sidebar > ul > li > a{
		transition: .3s;
	}

	.sidebar > ul > li > a:hover{
		font-size: 220%;
		transition: .3s;
	}
	
	.register{
		width: 30%;		
	}

	.details h2{
		padding-bottom: 20px;
		text-align: center;
		border-bottom: 3px solid #000000;
	}
	.details .side{	
		display: inline-block;
		border: none;
		position: relative;
		float: right;
		padding-top: 3%;
		width: 30%;
		height: 300px;
	}

	.details .img{	
		display: inline-block;
		border: none;
		float: left;
		width: 30%;
		height: 300px;
	}

	.details .main{	
		display: inline-block;
		float: center;
		border: none;
		margin-top: 10px;
		width: 30%;
		height: 300px;
	}

	.cart .prodotti{
		display: block;
		width: 55%;	
		margin: 0;
		margin-left: 15px;
		clear: left;
		overflow-y: scroll;
	}

	.cart .resoconto{
		width: 40%;
		position:absolute;
   		top: 160px;
   		right:5px;
		margin: 0;
	}
	
}

@media screen and (min-width:1024px){

	.prodotto {
		width: 28%;					
	}	
	
}